---
ip: "192.168.10.10"
memory: 2048
cpus: 1
hostname: laravel-api
name: laravel-api
provider: virtualbox
version: 0.3.3

authorize: ~/.ssh/id_rsa.pub

keys:
    - ~/.ssh/id_rsa

folders:
    - map: "/Users/josefonseca/Documents/Code/laravel-api"
      to: "/home/vagrant/laravel-api"

sites:
    - map: homestead.app
      to: "/home/vagrant/laravel-api/public"

databases:
    - homestead

# blackfire:
#     - id: foo
#       token: bar
#       client-id: foo
#       client-token: bar

# ports:
#     - send: 50000
#       to: 5000
#     - send: 7777
#       to: 777
#       protocol: udp
